/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/stubs
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
_ide_helper.php
/app/Enums/.DS_Store
/app/Http/.DS_Store
/public/.DS_Store
/public/assets/.DS_Store
/resources/lang/.DS_Store
/resources/views/.DS_Store
.DS_Store
/app/.DS_Store
/database/.DS_Store
/resources/.DS_Store
/storage/.DS_Store
